/*////////////////////////////////// Purged //////////////////////////////////*/
* {
  font-size: 3vmin;
}

header {
  margin-bottom: 2vh;
}

.carte {
  height: 22vw;
  width: 16vw;
  z-index: -1;
}

.doscarte {
  height: 23vw;
  width: 16vw;
}

.disabled {
  pointer-events: none;
}

.center {
  align-items: center;
}

.ligne {
  display: flex;
  justify-content: space-around;
}

.colone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#player1 {
  width: 50%;
  float: left;
}

#page {
  height: 98vh;
}

/*///////////////////////////////MEDIA QUERIES///////////////////////////////*/
@media screen AND (orientation: portrait) {
  header {
    flex-direction: column;
  }

  .carte {
    height: 34vw;
    width: 30vw;
  }

  .doscarte {
    height: 36vw;
    width: 30vw;
    z-index: 2;
  }

  #page {
    flex-direction: row;
  }

  #plateau {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #player1 {
    flex-direction: column;
    height: 50%;
  }

  #player2 {
    flex-direction: column;
    height: 50%;
  }
}
/*///////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////*/
