* {
  font-size: 3vmin;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.carte {
  height: 60vh;
  width: 15vw;
}

.doscarte{
  height: 60vh;
  width: 16vw;
}

#player1 {
  width: 50%;
  height: 100%;
  /* la moitié de son conteneur <body> */
  float: left;
  display: flex;
  justify-content: space-around;
}

#player2 {
  width: 50%;
  height: 100%;
  /* la moitié de son conteneur <body> */
  float: right;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#page {
  height: 98vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}
