body {
  display: flex;
  justify-content: center;
  background-color: #01955E;
}

button {
  display: none;
  height: 5vh;
  align-items: center;
  background-color: white;
  border-radius: 1vh;
}

.top {
  height: 100%;
  position: absolute;
}

.ligne {
  display: flex;
  justify-content: center;
}

.colone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doscarte {
  height: 8vh;
}

.top {
  height: 99%;
  position: absolute;
}

#gauche > .doscarte, #droite > .doscarte {
  transform: rotate(90deg);
}

#haut > .doscarte, #jeu > .doscarte {
  margin-left: 11px;
  margin-right: 11px;
}

#bas {
  bottom: 0px;
  position: absolute;
  width: 100%;
  justify-content: space-around;
}

#gauche {
  left: 11px;
}

#droite {
  right: 11px;
}

#haut {
  top: 0px;
  position: absolute;
}
