body {
  display: flex;
  justify-content: center;
  background-color: #01955E;
  overflow: hidden;
}

button {
  display: none;
  height: 5vh;
  align-self: center;
  background-color: white;
  border-radius: 1vh;
}

span {
  font-size: 2vmin;
}

.ligne {
  display: flex;
  justify-content: center;
}

.colone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doscarte {
  height: 8vh;
}

.posable {
  border: 1vh solid lightgreen;
  border-radius: 2vh;
}

.top {
  height: 99%;
  position: absolute;
}

#gauche>.doscarte, #droite>.doscarte {
  transform: rotate(90deg);
}

#haut>.doscarte, #jeu>.doscarte {
  margin-left: 11px;
  margin-right: 11px;
}

#bas {
  bottom: 0px;
  position: absolute;
  width: 100%;
  justify-content: space-around;
}

#gauche {
  left: 11px;
}

#droite {
  right: 11px;
}

#haut {
  top: 0px;
  position: absolute;
}

#centre {
  top: 38%;
  height: 25vh;
}

#table1 {
  bottom: 18vh;
  left: 43vw;
  position: absolute;
}

#table2 {
  left: 18vw;
  top: 44.5vh;
  position: absolute;
}

#table3 {
  top: 18vh;
  left: 43vw;
  position: absolute;
}

#table4 {
  right: 18vw;
  top: 44.5vh;
  position: absolute;
}

#plateau1, #plateau2, #plateau3, #plateau4 {
  height: 12vh;
}

#table1, #table2, #table3, #table4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 14vw;
}
