body {
  display: flex;
  justify-content: center;
  background-color: #01955E;
  overflow: hidden;
}

button {
  display: none;
  height: 5vh;
  align-self: center;
  background-color: white;
  border-radius: 1vh;
}

span {
  font-size: 2vmin;
}

.ligne {
  display: flex;
  justify-content: center;
}

.colone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doscarte {
  height: 8vh;
}

.posable {
  border: 1vh solid lightgreen;
  border-radius: 2vh;
}

.disabled {
  pointer-events: none;
  border: none;
}

.top {
  height: 99%;
  position: absolute;
}

#gauche>.doscarte, #droite>.doscarte {
  transform: rotate(90deg);
}

#haut>.doscarte, #jeu>.doscarte {
  margin-left: 11px;
  margin-right: 11px;
}

#bas {
  bottom: 0px;
  position: absolute;
  width: 100%;
  justify-content: space-around;
}

#gauche {
  left: 11px;
}

#droite {
  right: 11px;
}

#haut {
  top: 0px;
  position: absolute;
}

#centre {
  top: 38%;
  height: 25vh;
}

#nom1 {
  bottom: 25vh;
  left: 48vw;
  position: absolute;
}

#nom2 {
  left: 25vw;
  top: 49.5vh;
  position: absolute;
}

#nom3 {
  top: 25vh;
  left: 48vw;
  position: absolute;
}

#nom4 {
  right: 25vw;
  top: 49.5vh;
  position: absolute;
}
