/* Connexion */
fieldset {
  border-width: thin;
  border-color: black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50vw;
  height: 33vh;
  align-items: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inscription {
  display: flex;
  flex-direction: column;
}

.conn {
  margin-top: 2vh;
}

#ins {
  display: flex;
  justify-content: center;
}

* {
  font-size: 2vmin;
}
