#deconnexion {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

table, td {
  border: 1px solid #333;
}

thead, tfoot {
  background-color: #333;
  color: #fff;
}

.modal {
  border-style: groove;
  border-color: red;
  border-width: medium;
}

.hidden {
  display: none;
}
