body {
  display: flex;
  justify-content: center;
  background-color: #01955E;
}

.top{
  height: 100%;
  position: absolute;
}

.ligne {
  display: flex;
  justify-content: center;
}

.colone{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bas {
  bottom:0px;
  position: absolute;
}

#gauche {
  left: 0px;
}

#droite {
  right: 0px;
}
