* {
  font-size: 1.2em;
}

#player1 {
  width: 50%;
  height: 50%; /* la moitié de son conteneur <body> */
  float: left;
}

#player2 {
  width: 50%;
  height: 50%; /* la moitié de son conteneur <body> */
  float: right;
}
